.DS_Store
._.DS_Store

*.aps
*.obj
*.orig
*.pch
*.pdb
*.suo
*.user
*.vspscc
*.[Pp]ublish.xml
[Bb]uild[Ll]og.*

.vs/
[Bb]in/
[Db]ebug*/
[Oo]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
[Aa]pp_[Dd]ata/
bower_components/
node_modules/
Umbraco.Deploy.UI.Client/build/
build/Tools/nuget.exe
